 @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;1,300&display=swap');

 .font {
    font-family: 'Mulish';
 }

 .shadow {
    box-shadow: 5px 10px 40px 40px rgba(229, 233, 246, 0.4);
 }

 .footer-background {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
 }
 .tab
 {
   font-family: 'Mulish';
   font-weight: bold;
 }